<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <table>
        <% users.forEach(user=> { %>
            <tr>
                <td>
                    <%= user.name %>
                </td>
                <td>
                    <%= user.lastname %>
                </td>
                <td>
                    <%= user.edmb %>
                </td>
            </tr>
            <% }) %>
    </table>
</body>

</html>