<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List/title</title>
    <link href="../node-js-playlist/public/assets/styles.css" rel="style/sheet" tupe="'text/css " />
</head>

<body>
    <h1>My todo List</h1>

    <div id="todo-table">
        <form>
            <input type="text" name="'item" placeholder="Add new item ..." required />
            <button type="submit"> add item</button>
        </form>
        <ul>
            <% for(var i=0;i<todos.length;i++){ %>
                <li>
                    <%= todos[i].item %>
                </li>
                <% } %>
        </ul>
    </div>

</body>

</html>